@import 'variables';
@import 'mixin';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0 !important;
}

body{
    font-family: "Montserrat", sans-serif !important;
    color: $mainColor !important;
    position: relative;
}
#random{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 10px;
    padding: 1rem 20%;
    background-color: $background;

    .title{
        margin-top: 60px;
    }
}

.city-name{
    @include flxdisp(flex, center, center, none);
    position: absolute;
    background-color: white;
    top: 0;
    width: 100%;
    height: 50px;   

}
#result{
    @include flxdisp(flex, space-around, center, none);
    flex-wrap: wrap;
    background-color: $background;

    .aqi-city-card{
    @include flxdisp(flex, center, center,column);
    border: 1px solid black;
    width: 15rem;
    height: 20rem;
    margin: 0 auto;
    position: relative;
    margin: 1rem 0;
    }
    
}

.aqi-city-card-random {
    width: 21rem;
    margin: 1rem 0;
    padding-bottom: 1rem;
    background-color: $cardBackground;
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
}

#search-box{    
    @include flxdisp(flex, center, center, none);
    padding: 1rem 0;
    position: relative;

    form{
        width: 60%;    
    } 
    input{
        width: 80%;
    } 
    label{
        margin: 0;
    }
    .fa-search {
        margin-left: 3rem !important;
        font-size: 30px !important;

        &:hover{
            cursor: pointer;
        }
    }
} 
#city{
    font-size: 25px;
    padding-left: 10px;    
}


// .title{
//     @include flxdisp(flex, none, none, row);
//     margin-top: 30px;
// }

.title h4:first-child, .last{
    flex-grow: 5;
}
.title h4:last-child, .update h2{
    flex-grow: 3;
}
.update, .card-row{
    @include flxdisp(flex, none, center, none);
}
.last {
    @include flxdisp(flex, none, none, column);
}
.card-row-left, .card-row-right{
    @include flxdisp(flex, space-around, none, none);
    flex-grow: 4;
    width: 50%;
}

.city-name-random{
    @include flxdisp(flex, center, center, none);
    text-align: center;
    background-color: $mainColor;
    border-radius: 4px 4px 0 0 ;
    height: 55px;
    color: white !important;
    font-weight: 500;
}
.update-random, .title-random{
    @include flxdisp(flex, space-between, center, none);
    padding: 10px;
}
.title-random>h4{
    font-weight: 900;
}

.last-random h5{
    font-weight: 900;
}

.update-random {
    
    h2{    
    @include flxdisp(flex, center, center, column);
    width: 30%;
    padding: 5px;  
    border-radius: 5px;
    font-size: 3rem;
    }

    .last-random{
        @include flxdisp(flex, center, none, column);
        width: 70%;
    }
}

.fa-question-circle{
    color: white;
    position: absolute;
    right: 0;
    margin-right: 5%;
    font-size: 2.5rem;

    &:hover{
        cursor: pointer;
    }
    
}

#scale-box{
    position: absolute;
    background-color: rgba(163, 163, 163, 0.74);
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    
}

table{
    width: 50% !important;
    margin: 2rem;

    th, td {
        display: table-cell !important;
        border: 1px solid rgb(26, 26, 26) !important;
        vertical-align: inherit !important;
        text-align: center !important;
    }
}
tbody>tr>th{
    width: 80px !important;
    padding: 5px !important;
}

.fa-times-circle{
    position: absolute;
    color:rgb(26, 26, 26);
    margin: 1rem 19rem 0 0;
    font-size: 2.5rem;
    right: 0;
    top: 0;

    &:hover{
        cursor: pointer;
    }
}


/*------------------------------------------------media query------*/
    /* @media only screen and (max-width: 1200px) {
        .aqi-city-card:nth-child(1), .aqi-city-card:nth-child(2){
            display: none;
        }
        #random{
            grid-template-columns: repeat(3, 1fr);
        }
    }
    
    @media only screen and (max-width: 992px) {
    
        .aqi-city-card:nth-child(1), .aqi-city-card:nth-child(2){
            display: none;
        }
        #radnom{
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    
    @media only screen and (max-width: 768px) {
        .aqi-city-card:nth-child(1), .aqi-city-card:nth-child(2),.aqi-city-card:nth-child(3){
            display: none;
        }
        #radnom{
            grid-template-columns: 1fr 1fr;
        }
    
    }
    
    @media only screen and (max-width: 575px) {
        .aqi-city-card:nth-child(5),.aqi-city-card:nth-child(4),.aqi-city-card:nth-child(3),.aqi-city-card:nth-child(2){
            display: none;
        }
        #random{
            grid-template-columns: 1fr;
        }
    }
     */